@import url('https://cdn-uicons.flaticon.com/4.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
/*Importar fuente chewy*/
@font-face {
    font-family: 'chewy';
    src: url(../fonts/Chewy-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: linear-gradient(to top, #f3eeb6, #d4db74, #9abf17, #84bf93);
    background-size: cover;
    margin: 0;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
}

.boton {
    text-decoration: none;
}

/*Aqui empieza el estilo de INICIAR SESION.html*/
.cont{
    border-radius: 25px;
    background-color: #a7d859;
    padding: 2rem;
}
.cont h1{
    color: rgb(2, 20, 5);
    font-family:cursive;
}
.cont h3{
    color:rgb(2, 20, 5);
    font-family:cursive;
}

.borde{
    background-color: #F1F191;
    border-radius:25px;
    padding: 1rem;
}

/*registros*/
.cont input{
    border-radius:30px;
    height: 2rem;
    width: 15rem;
    border-color: rgb(148, 189, 241);
}
.cont ::placeholder{
    color: rgb(0, 129, 58);
}

input{
    color: #004d00;
     width: 230px;
    height: 35px;

    border-radius: 20px;
    border: 2px solid #4c74ff;

    padding-left: 15px;

    color: #145214;

    font-size: 16px;

    outline: none;
}


.ojo{
    position: absolute;
    right: 15px;
    top: 8px;
    transform: translateY(-50%);
    cursor: pointer;
}

/*botones*/
.chapito{
    border-radius: 25px;
    background-color:rgb(78, 167, 42) ;
    border-color: chartreuse;
    height: 2rem;
    color: #F1F191;
    transition: 1s;
    background-color: red;
    height: 3rem;
    cursor: pointer;
}
.chapito:hover{
    background-color:rgb(148, 189, 241);
    color: blue;
    border-color: blue;
    transition: 1s;
    transform: scale(1.05);
}